body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    background-color: black;
    border-color: black;
}

iframe {
    height: 100%;
    width: 100%;
}